@font-face {
    font-family: 'oswald';
    src: url('https://daisusussus.github.io/font/Oswald.ttf');
    font-style: normal;
    font-weight: normal;
}

/* ----------------------------------------------------------------------- */

*:not(code), ::-webkit-input-placeholder {
    font-family: oswald !important;
    font-size: var(--font-size, initial);
    word-spacing: var(--word-spacing, initial);
    letter-spacing: var(--letter-spacing, initial);
}

.da-markup {
    line-height: var(--line-spacing, initial);
}